{% extends 'base_generic.html' %}

{% block content %}
 <h2> List of Books</h2>
 <a href = "{% url 'book_create' %}">Add New Book </a>
 <table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Publication Date</th>
            <th>ISBN</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author}}</td>
            <td>{{ book.publication_date }}</td>
            <td>{{ book.isbn}}</td>
            <td> 
                <a href = "{% url 'book_update' book.id %}">Edit</a> |
                <a href = "{% url 'book_delete' book.id %}">Delete</a>
            </td>

        </tr>
    </tbody>
 </table>
 {% endblock %}